@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Custom properties                                                     */
/*----------------------------------------------------------------------------------------------------------------*/

:root {
  --primary-background-color: #ffffff; /* main background image */
  --secondary-background-color: #f9f9f9; /* secondary background color used in grid */
  --hover-color: #f2f2f2; /* hover color */
  --text-color-dark: #030303; /* For texts such as video titles, active filters. etc*/
  --text-color-light: #606060; /* Used for video card description on grid*/
  --text-color-white: #ffffff; /* Used for text on black background*/
  --border-color: #e0e0e0; /* Used for borders*/
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                        End Custom properties                                                     */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Creating a general reset                                              */
/*----------------------------------------------------------------------------------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End of general reset                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------*/
/*      utility classes        */
/*-----------------------------*/

.flex-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.padding {
  padding: 1rem;
}

/*-----------------------------*/
/*  End utility classes        */
/*-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Landing page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------*/
/*      Navigation classes     */
/*-----------------------------*/

.navbar {
  padding: 0 1rem;
  flex-direction: row;
  height: 56px;
  background-color: var(--primary-background-color);
  justify-content: space-between;
}

.site-logo {
  height: 20px;
  width: 90px;
}

.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 40vw;
  height: 35px;
  border: 1px solid var(--border-color);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 35px;
  width: 60px;
  margin: 0;
  margin: 0;
}

.voice-box {
  border-radius: 50px;
  background-color: var(--hover-color);
  padding: 0.4rem;
  margin-left: 0.3rem;
}

.voice-box:hover {
  cursor: pointer;
  background-color: #ebebeb;
  transition: all 0.3s;
}

/*-----------------------------*/
/*  End Navigation classes     */
/*-----------------------------*/

/*-----------------------------*/
/* Side bar Navigation classes */
/*-----------------------------*/

/* Write your styles here */

/*-----------------------------*/
/*  End side Navigation classes */
/*-----------------------------*/

/*-----------------------------*/
/* Video grid section classes */
/*-----------------------------*/

/* Hero cta section */
.hero-cta,
.main_container {
  margin-left: 80px;
  /* width: 100%; */
  overflow: hidden;
}

.hero-cta {
  background-color: var(--primary-background-color);
  display: flex;
  /* width: minmax(320px% 100vw); */
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 0.5rem;
}

.hero-cta .product-logo {
  margin-top: 2rem;
}

.hero-cta .product-logo img {
  width: 320px;
}

.hero-cta .product-description {
  max-width: 440px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.hero-cta .cta-btn {
  background-color: #fff;
  border: 2px solid #065fd4;
  color: #065fd4;
  padding: 0.2rem 1.5rem;
  margin-bottom: 3rem;
}
/* End hero cta section */

.main_container {
  background-color: var(--secondary-background-color);
  height: 100%;
  padding: 1rem 0.5rem;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
}

/* Video card styling */

.video_card {
  width: 270px;
}

.hov-visible {
  display: none;
}

.video_card:hover .hov-visible {
  display: flex;
}

.video_thumbnail {
  width: 100%;
  height: 170px;
  cursor: pointer;
}

.video_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0;
  column-gap: 0.5rem;
}
.channel_icon {
  width: 20%;
}

.channel_icon img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.video_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.title_group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.dot_options {
  cursor: pointer;
  padding-top: 0.2rem;
}

.video_title h3 {
  font-size: 0.875rem;
  color: var(--text-color-dark);
  line-height: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.video_title h3 a {
  color: var(--text-color-dark);
}

.channel_name,
.vid-views,
.vid-date {
  color: var(--text-color-light);
  font-size: 0.8rem;
}

.vid-views::after {
  content: "•";
  margin: 0 4px;
}

.channel_name {
  position: relative;
  cursor: pointer;
}

.channel_name .tooltip-text {
  visibility: hidden;
  background-color: #606060e7;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 0.3rem;
  position: absolute;
  top: -3.7rem;
  left: 0;
  z-index: 1;
}

.channel_name:hover .tooltip-text {
  visibility: visible;
}
/* Video card styling */

/*-----------------------------*/
/*  End Video grid section classes */
/*-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Landing page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Search page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Search page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for About page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for About page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Contact page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Contact page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Privacy page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Privacy page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Terms page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Terms page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Settings page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
.settings {
  display: flex;
  flex-direction: row;
}
.column1 {
  background-color: rgb(230, 230, 230);
  min-height: 100vh;
  
}
.column2 {
  padding-left: 47px;
  padding-top: 35px;
  background-color: #f9f9f9;
  flex: 75%;
}
.column2-border {
  border-bottom: rgb(200, 200, 200);
  margin-right: 70px;
}

.settings-setting h4 {
  color: #606060;
  margin-top: 25px;
  padding-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.settings-options h4 {
  padding: 15px 0px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2rem;
  padding-right: 45px;
}
.settings-options :hover {
  background-color: rgba(40, 68, 33, 0.11);
}
.settings-options :active {
  background-color: rgba(40, 68, 33, 0.11);
}
.bold-brief {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 30px;
  padding-top: 15px;
}
.setting-specific h2 {
  font-weight: normal;
  letter-spacing: 0.5px;
}
.grey-brief {
  font-weight: normal;
  color: #606060;
  font-size: 15px;
}
.setting-specific-wrapper {
  display: flex;
  justify-content: space-between;
}
.settings-picture {
  width: 18%;
  margin-right: 70px;
}
.bold-brief-channel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
}
.bold-brief-small-channel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-right: 150px;
}
.grey-brief-channel {
  font-weight: normal;
  color: #606060;
  font-size: 15px;
  margin-bottom: 12px;
}
.your-channel {
  display: flex;
  justify-content: flex-start;
  margin-top: 22px;
}
.channel-img {
  border-radius: 50px;
  width: 29%;
  margin-right: 23px;
  margin-top: 5px;
  margin-bottom: 23px;
}
.your-channel h3 {
  color: #065fd4;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
}
.display-pix {
  display: flex;
}
.display-pix {
  display: flex;
  justify-content: start;
}
.display-pix p {
  margin-left: 15px;
  font-size: 15px;
  text-align: center;
  margin-top: 16px;
  letter-spacing: 0.5px;
}
.channel-img-name{
  display: flex;
}
.channel-img-name p{
  padding-top: 18px;
  margin-bottom: 20px;
}
.border-bottom-space{
  margin-bottom: 15px;
}
.account h4{
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 20px;
}
.account p{
  font-weight: normal;
  color: #606060;
  font-size: 14px;
  margin-bottom: 12px;
}
.google-account h4{
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-right: 111px;
  margin-top: 0px;
}
.google-account-link h3{
  color: #065fd4;
  font-size: 14px;
  font-weight: 500;

}
.google-account-options{
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.google-account-link-{
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-right: 2px solid rgb(200, 200, 200) ; height: 20px;
  padding-right: 5px;
}
.no-membership-wrapper{
  display: flex;
  justify-content: flex-start;
}
#get-premium{
  padding-left: 5px;
  margin-bottom: 0px;
  color: #065fd4;
  font-size: 14px;
  font-weight: 500;
}
.membership{
  padding-left: 20px;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Settings page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
