@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Custom properties                                                     */
/*----------------------------------------------------------------------------------------------------------------*/

:root {
  --primary-background-color: #ffffff; /* main background image */
  --secondary-background-color: #F9F9F9; /* secondary background color used in grid */
  --overlay-background-color: rgba(37, 36, 36, 0.9); /* overlay background color used for watch-later icons*/
  --hover-color: #f2f2f2; /* hover color */
  --text-color-dark: #030303; /* For texts such as video titles, active filters. etc*/
  --text-color-light: #4d4b4b; /* Used for video card description on grid*/
  --text-color-white: #ffffff; /* Used for text on black background*/
  --border-color: #e0e0e0; /* Used for borders*/
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                        End Custom properties                                                     */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Creating a general reset                                              */
/*----------------------------------------------------------------------------------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End of general reset                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------*/
/*      utility classes        */
/*-----------------------------*/

.flex-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.padding {
  padding: 1rem;
}

/*-----------------------------*/
/*  End utility classes        */
/*-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Landing page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------*/
/*      Navigation classes     */
/*-----------------------------*/

.navbar {
  padding: 0 1rem;
  flex-direction: row;
  height: 56px;
  background-color: var(--primary-background-color);
  justify-content: space-between;
}

.site-logo {
  height: 20px;
  width: 90px;
}

.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 40vw;
  height: 35px;
  border: 1px solid var(--border-color);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 35px;
  width: 60px;
  margin: 0;
  margin: 0;
}

.voice-box{
  border-radius:50px;
  background-color:var(--hover-color);
  padding: 0.4rem;
  margin-left: 0.3rem;
}

.voice-box:hover{
  cursor: pointer;
  background-color:#ebebeb;
  transition: all 0.3s;
}

/*-----------------------------*/
/*  End Navigation classes     */
/*-----------------------------*/

/*-----------------------------*/
/* Side bar Navigation classes */
/*-----------------------------*/

/* Write your styles here */

/*-----------------------------*/
/*  End side Navigation classes */
/*-----------------------------*/

/*-----------------------------*/
/* Video grid section classes */
/*-----------------------------*/
.main_video_container{
  background-color: var(--secondary-background-color);
  height: 100%;
  padding: 1rem .5rem;
  /* overflow-y: scroll; */
  margin-left: 80px;
  

}

.video-grid{
  display:flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  width:100%;
  gap: 1rem;
  

  
}

/* Video card styling */

.video_card{
  /* display:flex;
  flex-direction:column;
  align-items:center; */
  width:270px;
  /* margin-right:1rem;
  margin-bottom:2rem; */
}

.video_thumbnail{
  width:100%;
  height:170px;
  cursor:pointer;
}

.video_thumbnail img{
  width:100%;
  height:100%;
  object-fit: cover;
}


.video_footer{
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: flex-start;
  padding:1rem 0;
  column-gap: .5rem;
}
.channel_icon{
  width:20%;
}

.channel_icon img{
  width:36px;
  height:36px;
  margin-right:.5rem;
  border-radius:50%;
  object-fit: cover;
  /* margin-top:1rem;
  margin-right: 1rem; */
}



.video_info{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
}
.title_group{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:flex-start;
 
}

.dot_options{
  cursor: pointer;
  padding-top:.5rem;
}

.video_title h3{
  font-size: 1rem;
  color: var(--text-color-dark);
  line-height: 1.5rem;
  font-weight:500;
  margin-bottom:.5rem;
}

.channel_name, .vid_views{
  color: var(--text-color-light);
  font-size: .8rem;
}

/*-----------------------------*/
/*  End Video grid section classes */
/*-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Landing page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Search page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
.search_video_container{
  background-color: var(--secondary-background-color);
  height: 100%;
  padding: 1rem 7% 1rem 7%;
  margin-left: 80px;
  color:var(--text-color-light);
}
.filter-bar{
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}
.filter-bar svg{
  pointer-events: none; 
  display: inline-block;
}
.filter-bar p{
  display: inline;
  margin-left: 6px;
  font-weight: bold; 
}
.video-item{
  display: flex;
  margin-top: 1rem;
  /* height: 220px; */
}
.video-box{
  width: 30vw;
  position:relative;
  flex-shrink: 0;
  /* flex-basis: 2; */
}
.video-box img{
  width:100%;
  height:100%;
  cursor:pointer;
}
.top-items{
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--text-color-white);
}
.bottom-items{
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: var(--text-color-white);
}
.item{
  background-color: var(--overlay-background-color);
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 2px;
  display:flex;
}
.overlay-text{
  margin-right: 6px;
  font-weight: 500px;
  font-size: smaller;
}
.video-info{
  margin-left: 1.5rem;
}
.menu-icon{
  float: right;
}
.video-title{
  color: var(--text-color-dark);
}
.channel-info{
  display: flex;
  margin: 1rem auto;
}
.channel-info small{
  margin-left: 1rem;
}
.video-desc{
  display: block;
  margin-bottom: .5rem;
}
.keyword{
  font-weight: 500;
}
.subtitle-tag{
  background-color: var(--border-color);
  display: inline-block;
  border-radius: 2px;
  padding: 0px 6px;
}
@media(max-width: 1200px){
  /*large devices (lg)*/
  /* .video-box{
    width: 45vw;
  } */
}
  
@media(max-width: 992px){
  /*medium devices (md)*/
  /* .video-box{
    width: 95vw;
  } */
}
  
@media(max-width: 768px){
/*small devices (sm)*/
  /* .video-box{
    /* width: 65%; */
  /* } */ 
}
  
@media(max-width: 567px){
/*extrasmall devices (xs)*/
  /* .video-box{
    /* width: 75%; */
  /* }  */
}
/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Search page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for About page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for About page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Contact page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Contact page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Privacy page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Privacy page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Terms page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Terms page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Settings page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Settings page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
