@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Custom properties                                                     */
/*----------------------------------------------------------------------------------------------------------------*/

:root {
  --primary-background-color: #ffffff; /* main background image */
  --hover-color: #f2f2f2; /* hover color */
  --text-color-dark: #030303; /* For texts such as video titles, active filters. etc*/
  --text-color-light: #606060; /* Used for video card description on grid*/
  --text-color-white: #ffffff; /* Used for text on black background*/
  --border-color: #e0e0e0; /* Used for borders*/
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                        End Custom properties                                                     */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Creating a general reset                                              */
/*----------------------------------------------------------------------------------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End of general reset                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------*/
/*      utility classes        */
/*-----------------------------*/

.flex-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.padding {
  padding: 1rem;
}

/*-----------------------------*/
/*  End utility classes        */
/*-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Landing page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------*/
/*      Navigation classes     */
/*-----------------------------*/

.navbar {
  padding: 0 1rem;
  flex-direction: row;
  height: 56px;
  background-color: var(--primary-background-color);
  justify-content: space-between;
}

.site-logo {
  height: 20px;
  width: 90px;
}

.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 40vw;
  height: 35px;
  border: 1px solid var(--border-color);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 35px;
  width: 60px;
  margin: 0;
  margin: 0;
}

.voice-box{
  border-radius:50px;
  background-color:var(--hover-color);
  padding: 0.4rem;
  margin-left: 0.3rem;
}

.voice-box:hover{
  cursor: pointer;
  background-color:#ebebeb;
  transition: all 0.3s;
}

/*-----------------------------*/
/*  End Navigation classes     */
/*-----------------------------*/

/*-----------------------------*/
/* Side bar Navigation classes */
/*-----------------------------*/

/* Write your styles here */

/*-----------------------------*/
/*  End side Navigation classes */
/*-----------------------------*/

/*-----------------------------*/
/* Video grid section classes */
/*-----------------------------*/

/* Write your styles here */

/*-----------------------------*/
/*  End Video grid section classes */
/*-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Landing page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Search page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Search page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for About page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for About page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Contact page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box
}


h1.title-con{
  font-family:'YouTube Sans',sans-serif;
  font-weight:600;
  margin-bottom:16px;
  font-size:48px;
  line-height:56px
}

h1{
  font-family:'YouTube Sans',sans-serif;
  font-size:24px;
  font-weight:600;
  line-height:30px;
  margin-bottom:24px
}

h2,h3{
  font-family:'YouTube Sans',sans-serif;
  font-size:16px;
  font-weight:600;
  line-height:24px;
  margin-bottom:16px
}

h4{
  font-size:16px;
  font-weight:500;
  line-height:24px;
  margin-bottom:12px
}

p,ul,ol,li{
  font-size:16px;
  font-weight:400;
  line-height:24px
}


p,ul,ol{
  margin-bottom:24px
}

li{
  margin-left:32px;
  margin-bottom:12px
}

a{
  text-decoration:none;
  cursor:pointer
}








body{
  height: 100%;
  font-family:'Roboto',sans-serif;
  background:#fff;
  color:#333;
  font-weight:400;
  background: transparent;
  font-size: 100%;
}

#body-wrapper-con{
  height: 100%;
  height:auto;
  min-height:100%;
  padding-bottom:65px;
  position:relative
}

#header-con{
  height:56px;
  padding:16px 24px;
  position:relative
}

#logo-icon-con{
  top:18px;left:24px
}

.country-code-con{
  font-size:10px;
  margin:0 2px 0
}

#main-content-con{
  max-width:768px;
  position:absolute;
  margin-left:300px;
  margin-top:-20px;
  padding-bottom:48px
}


#main-sidebar-con{
  float:left;
  width:300px;
  padding-top:48px;
  padding-right:24px

}


#main-sidebar-con ul{
  list-style:none
}





/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Contact page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Privacy page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Privacy page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Terms page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Terms page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          Styling for Settings page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------*/
/*                                          End Styling for Settings page                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
